<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
  	<div class="footer-hr"></div>
  	<div class="row">
  		<div class="col-lg-4 footer-title">
  			<div class="row">
  				<div class="col-lg-2"></div>
  				<div class="col-lg-10 footer-title">Information</div>
  			</div>
  			<div class="row">
  				<div class="col-lg-2 footer-subtitle hidden-md-down">
  						Lorem<br />
  						Lorem<br />
  						Lorem<br />
  						Lorem<br />
  						Lorem<br />
  						Lorem
  				</div>
  				<div class="col-lg-10 footer-text hidden-md-down">
  						Lorem<br />
  						Lorem<br />
  						Lorem<br />
  						Lorem<br />
  						Lorem<br />
  						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor egestas porttitor. Sed nec egestas purus, id ullamcorper lacus. Nullam ex orci, euismod vitae porta eget, convallis vitae tortor. 
  				</div>
				<div class="col-lg-12 footer-text visible-md-down">
  						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor egestas porttitor. Sed nec egestas purus, id ullamcorper lacus. Nullam ex orci, euismod vitae porta eget, convallis vitae tortor. 
  				</div>  				
  			</div>  			
  		</div>

  		<div class="col-lg-4 footer-title">
  			<div class="row">
  				<div class="col-lg-2"></div>
  				<div class="col-lg-10 footer-title">Languages</div>
  			</div>
  			<div class="row">
  				<div class="col-lg-2 footer-subtitle">Lorem</div>
  				<div class="col-lg-10 footer-text">English (Dolby Digital 5.1, CC, AD)</div>
  			</div>  
  		</div>

		<div class="col-lg-4 footer-title">
  			<div class="row">
  				<div class="col-lg-2"></div>
  				<div class="col-lg-10 footer-title">Accesibility</div>
  			</div>
  			<div class="row">
  				<div class="col-lg-2 footer-subtitle"><div class="movie-features movie-extra-features footer-accesibility">CC</div></div>
  				<div class="col-lg-10 footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor egestas porttitor. Sed nec egestas purus, id ullamcorper lacus</div>
  			</div>  
  			<div class="footer-space"></div>
  			<div class="row">
  				<div class="col-lg-2 footer-subtitle "><div class="movie-features movie-extra-features footer-accesibility">AD</div></div>
  				<div class="col-lg-10 footer-text">Mauris ac velit nec dui facilisis imperdiet in quis velit. Donec lobortis quis est in aliquet. Sed nec posuere lectus. </div>
  			</div>   			
  		</div>  		
  	</div>
  </div>
  <div class="footer-space-lg"></div>
</footer>
